/* */
@media screen and (max-width: 600px) {	
    #vidwall {
        position: fixed;  
        transform: scale(2) rotate(90deg);
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        z-index: -10;
    }
    
    .hero img {
        width: 90vw;
        padding-bottom: 20vh;
    }
    
    .main-content {
        background-color: rgba(10,10,10,.6);
    }
    
    #logo {
        max-width: 30vw;
        padding-top: 3vh;
    }
    
    header h1 {
        font-size: 3vh;
    }
    
    .topics {
        width: 100%;
        font-size: 5vh;
    }
    
    .topics > img {
        max-width: 10vh;
        padding-top: 7vh;
        padding-bottom: 5vh;
        padding-left: 5vw;
        padding-right: 5vw;
        float: left;
    }
    
    #webApp {
        float: right;
    }
    
    .topics > p {
        font-size: 0.35;
        padding: 2vw;
    }
    
    .desc h1 {
        margin: 0;
        padding-top: 1vh;
        font-size: 5vh;
    }
    
    .unit {
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 0;
    }
    
    .unit p {
        font-size: .8em;
    }
    
    .people {
        padding-left: 12%;
        padding-right: 12%;
    }
    
    .person {
        padding-left: 6%;
        padding-right: 6%;
        width: 35%;
        margin-bottom: 20px;
    }

    .person img {
        max-width: 30vw;
    }
    
    footer h1 {
        font-size: 3vw;
    }
    
    footer {
        margin-top: 5vh;
    }
}

/* */
@media screen and (min-device-width: 601px) and (max-width: 900px) {	

}