html, body {
	margin: 0;
	padding: 0;
}

html {
	background-color: black;
}

@font-face {
    font-family: montserrat;
    src: url("../fonts/Montserrat-Regular.otf");
}


@font-face {
    font-family: starjedi;
    src: url("../fonts/Starjedi.ttf");
}

@font-face {
    font-family: starjhol;
    src: url("../fonts/Starjhol.ttf");
}

@font-face {
    font-family: force;
    src: url(../fonts/force.ttf);
}

@font-face {
    font-family: proxima;
    src: url(../fonts/proxima.otf);
}

@font-face {
    font-family: comfortaa;
    src: url(../fonts/comfortaa.ttf);
}


@font-face {
    font-family: light;
    src: url(../fonts/light.ttf);
}

#vidwall {
	position: fixed;
	right: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	max-width: 100%;	
	z-index: -10;
}

header {
	text-align: center;
}

#logo {
	max-width: 15vw;
	margin-top: 2vh;
}

.hero {
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
	font-family: star;
	font-size: 2em;
	letter-spacing: 5px;
}

.main-content {
	margin-top: 100vh;
	background-color: rgba(10,10,10,.8);
	font-family: comfortaa;
	font-size: 3em;
	height: 100vh;
	width: 100%;
}

/* Clear floats after the columns */
.main-content:after {
    content: "";
    display: table;
    clear: both;
}

header h1 {
	color: rgb(255,216,0);
	font-size: 3vw;
	text-shadow: 1px 1px 2px black, 0 0 7.5px rgb(255,255,0), 0 0 2px rgb(200,200,0);
}

.topics {
	width: 33.33%;
	float: left;
	text-align: center;
	background-color: rgba(15,15,15,0.75);
}

.topics > img {
	max-width: 7vw;
}

.topics> h1 {
	font-size: 0.5em;
	font-family: light;
}

.topics:nth-of-type(1) > h1 {
	color: rgb(88,116,226);
}

.topics:nth-of-type(1):hover > h1 {
	color: rgb(246,250,243);	
	text-shadow: 1px 1px 2px rgb(88,116,226), 0 0 12.5px rgb(88,116,226), 0 0 5px white;
}

.topics:nth-of-type(2) > h1 {
	color: rgb(222,93,226);
}

.topics:nth-of-type(2):hover > h1 {
	color: rgb(247,251,248);	
	text-shadow: 1px 1px 2px rgb(222,93,226), 0 0 12.5px rgb(222,93,226), 0 0 5px white;
}

.topics:nth-of-type(3) > h1 {
	color: rgb(179,74,80);
}

.topics:nth-of-type(3):hover > h1 {
	color: rgb(264,251,252);	
	text-shadow: 1px 1px 2px rgb(179,74,80), 0 0 12.5px rgb(179,74,80), 0 0 5px white;
}

.topics > p {
	color: white;
	font-size: 0.35em;
	font-family: light;
	font-style: italic;
	padding: 1vw;
}

.topics:hover {
	transition: 0.4s ease;
	cursor: pointer;	
	background-color: rgba(30,30,30,0.8);
}

.topics:hover h1{
}

/* unit */

.unit {
	background-color: rgba(10,10,10,.8);
	color:white;
	font-family: Comfortaa;
	text-align: center;	
	padding-left: 15%;
	padding-right: 15%;
    padding-bottom: 10vh;
}

.desc {
	padding-left: 15%;
	padding-right: 15%;
}

.desc img {
    width: 50vw;
    padding-left: 0;
}

.people {
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.person {	
	float: left;
	width: 16.66%;
}

.person img {
	max-width: 10vw;
	border-radius: 100px;
}

.person img:hover {
	transition: 0.3s ease;
	transform: scale(1.2);
	box-shadow: 1px 1px 30px white;
}

.person h1 {
	display: none;	
}
	
.unit:after {
    content: "";
    display: table;
    clear: both;
}

footer {
	text-align: center;
	color: white;
	font-family: light;
	background-color: rgba(30,30,30,0.8);
	margin-top: 20vh;
    margin-bottom: 0;
	padding-bottom: 0;
}

footer h1 {
	margin: 0;
	padding: 0;
	margin-top: 8vh;
    font-size: 1em;
}

/* related */


.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#section10 a {
  padding-top: 60px;
}
#section10 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}
#section10 a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*Sam CSS*/
#content{
	height: 100%;
	display: inline-block;
}

#page-header{
	text-align: center;
	color: rgb(255,216,0);
	font-family: starjhol;
	font-size: 2.8vw;
}

#topics-list{
	width: 25%; 
	color: rgb(255,216,0);
	font-family: starjedi;
	font-style: bolder;
	font-size: 1.6vw;
	background-color: rgba(13, 13, 13, 0.75);
	position: fixed;
	top: 45%;
}

#topics-list a{
	text-decoration: none;
	color: rgb(255,216,0);
}

#topics-list a:hover{
	color: #ffd24d;
}

#topics-list #aSSWSTech{
	color: rgb(88,116,226);
}

#topics-list #aSSWSTech:hover{
	color: rgb(246,250,243);	
	text-shadow: 1px 1px 2px rgb(88,116,226), 0 0 12.5px rgb(88,116,226), 0 0 5px white;
}

#topics-list #aSSWSTopics{
	color: rgb(222,93,226);
}

#topics-list #aSSWSTopics:hover{
	color: rgb(247,251,248);	
	text-shadow: 1px 1px 2px rgb(222,93,226), 0 0 12.5px rgb(222,93,226), 0 0 5px white;
}

#topics-list #aWAS {
	color: rgb(179,74,80);
}

#topics-list #aWAS:hover{
	color: rgb(264,251,252);	
	text-shadow: 1px 1px 2px rgb(179,74,80), 0 0 12.5px rgb(179,74,80), 0 0 5px white;
}

#quizTag{
	-webkit-animation:colorchange 1s infinite alternate;
}

 @-webkit-keyframes colorchange {
      0% {       
        color: red;
      }
		50% {       
        color: #cc9900;
      }	
	  
	  100% {       
        color: red;
      }	
	
 }
 
.notetopics{
	width: 74%;
	float: right;
	color: white;
	font-family: montserrat;
	font-size: 1.2vw;
}

.notetopics img{
	padding-top: 2%;
	width: 90%;
}
.notetopics h2{
	font-family: starjedi;
	font-size: 2.5vw;
	margin-left: 2%;
	color: rgb(255,216,0);
}

.subtopic{
	background-color: rgba(13, 13, 13, 0.75);
	padding-bottom: 1%;
	padding-left: 2%;
	margin-bottom: 1%;
}

.subtopic h3{
	font-family: starjedi;
	font-size: 2.2vw;
	text-align: center;
	color: rgb(255,216,0);
}

.subtopic h4{
	font-family: starjedi;
	font-size: 1.8vw;
	color: rgb(255,216,0);
}

.version{
	margin-left: 4.5%;
	margin-right: 4.5%;
	width: 90%;
	border-collapse: collapse;
	margin-bottom: 3%;
}

.version td, th {
    border: 1px solid rgba(77, 77, 77, 0.50);
    text-align: left;
    padding: 1%;
}

tr:nth-child(even) {
    background-color: rgba(77, 77, 77, 0.50);
	color: rgb(230, 230, 230);
}

#top10 li{
	color: rgb(255,216,0);
}
#quote{
    display: none;
    position: fixed;
	margin-top: 1%;
    width: 25%;
	color: rgb(255,216,0);
    z-index: 1;
	font-family: light;
	font-size: 1.2vw;
	text-align:center;
	-webkit-animation: fadein 3s;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#quote img{
	width: 50%;
	height: 50%;
}
